## Dataset Creation

In [1]:
import pandas as pd
import glob
import matplotlib.pyplot as plt

### Read Datasets

In [2]:
csv_data_paths = glob.glob('data_source/**/*.csv', recursive=True)
print("Amount of CSV file: ", len(csv_data_paths))
print("CSV data:", csv_data_paths)

df_csv_format_pretest = pd.read_csv(csv_data_paths[0])
df_csv_format_pretest = df_csv_format_pretest.head(len(df_csv_format_pretest)-1)
df_csv_format_pretest.head(5)

Amount of CSV file:  1
CSV data: ['data_source/All-Pretest/តេស្តចូលរៀន(ខេត្ត)-តេស្តចូលរៀន-grades.csv']

,Surname,First name,Email address,State,Started on,Completed,Time taken,Grade/100.00,Q. 1 /1.25,Q. 2 /1.25,...,Q. 71 /1.25,Q. 72 /1.25,Q. 73 /1.25,Q. 74 /1.25,Q. 75 /1.25,Q. 76 /1.25,Q. 77 /1.25,Q. 78 /1.25,Q. 79 /1.25,Q. 80 /1.25
0,SIVHEANG,HONG,089360126@kpthom.com,Finished,23 July 2022 6:26 AM,25 July 2022 8:15 PM,2 days 13 hours,27.38,1.25,1.25,...,-,-,-,-,-,-,-,-,-,-
1,PHEAROM,HORT,hortphearom201@gmail.com,Finished,23 July 2022 6:36 AM,23 July 2022 7:56 AM,1 hour 20 mins,38.60,0.42,0.75,...,1.25,-,0.00,0.00,1.25,0.83,0.31,1.25,0.00,0.00
2,KONGKEA,PHAN,0317377222@odmchey.com,Finished,23 July 2022 6:38 AM,23 July 2022 7:58 AM,1 hour 20 mins,28.04,0.00,0.75,...,-,-,-,-,-,-,-,-,-,-
3,LYDA,SOHEAN,017974972@kpthom.com,Finished,23 July 2022 6:44 AM,23 July 2022 8:04 AM,1 hour 20 mins,18.33,0.63,1.25,...,-,-,-,-,-,-,-,-,-,-
4,សាត់ស្យា,អៀង,098982928@odmchey.com,Finished,23 July 2022 6:47 AM,23 July 2022 8:07 AM,1 hour 20 mins,30.38,0.00,0.00,...,0.00,0.63,0.25,0.00,0.00,0.21,-,-,-,-

In [3]:
excel_data_paths = glob.glob('data_source/**/*.xlsx', recursive=True)
print("Amount of CSV file: ", len(excel_data_paths))
print("Excel Data:", excel_data_paths)

Amount of CSV file:  20
Excel Data: ['data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (ខេត្តព្រះវិហា ឧត្តមានជ័យ សៀមរាប-៧)/Exam-PVH-UDM-7-ប្រឡង-grades.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (ខេត្តព្រះវិហា ឧត្តមានជ័យ សៀមរាប-៧)/Exam-PVH-UDM-7-ប្រឡង-questionstats.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់/DSE-EXAM-ERA5-Senate-វិញ្ញាសាប្រឡង-grades (1).xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់/DSE-EXAM-ERA5-Senate-វិញ្ញាសាប្រឡង-questionstats.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ខេត្តកែប-កំពត-ព្រះសីហនុ-កោះកុង/questionstats.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ខេត្តកែប-កំពត-ព្រះសីហនុ-កោះកុង/grades.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (Senate-City Hall & Moeys)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់(2022)-ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់-grades.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (Senate-City Hall & Moeys)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់(2022)-ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់-questionstats.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ខេត្តបន្ទាយមានជ័យ -\u200b ខេត្តបាត់ដំបង -ពោធិ៍សាត់ -កំពង់ឆ្នាំង-ប៉ៃលិន (DSE-09)/questionstats.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ខេត្តបន្ទាយមានជ័យ -\u200b ខេត្តបាត់ដំបង -ពោធិ៍សាត់ -កំពង់ឆ្នាំង-ប៉ៃលិន (DSE-09)/grades (1).xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ នៃក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-8/ប្រឡងវិញ្ញាបនបត្រក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-ប្រឡងវិញ្ញាបនបត្រ DSE (ក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-8)-grades.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ នៃក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-8/ប្រឡងវិញ្ញាបនបត្រក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-ប្រឡងវិញ្ញាបនបត្រ DSE (ក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-8)-questionstats.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (CADT)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (CADT-1)-Exam-grades.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (CADT)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (CADT-1)-Exam-questionstats.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (ខេត្ត-6)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់(2022)-ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់-grades.xlsx', 'data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (ខេត្ត-6)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់(2022)-ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់-questionstats.xlsx', 'data_source/All-Pretest/តេស្តចូលរៀន( ខេត្តព្រះសីហនុ + ប៉ៃលិន)-តេស្ត-grades.xlsx', 'data_source/All-Pretest/តេស្តចូលរៀន4-តេស្តចូលរៀន-grades.xlsx', 'data_source/All-Pretest/តេស្តចូលរៀន-តេស្តចូលរៀន-grades.xlsx', 'data_source/All-Pretest/តេស្តចូលរៀនមន្រ្តីរាជការទូទៅ តេស្តចូលរៀន-grades.xlsx']

### Combine All-Pretest

In [4]:
df_pre_test_combined = pd.DataFrame()
all_pretest_count = 0
for path in excel_data_paths:
    if('All-Pretest' not in path):
        continue
    else:
        print(path)
        df = pd.read_excel(path)
        df = df.head(len(df)-1) # drop the last row
        print("Dataset shape", df.shape) 
        all_pretest_count = all_pretest_count + df.shape[0] 
        print()

        # combine dataset - all_pretest
        df_pre_test_combined = pd.concat([df_pre_test_combined, df], ignore_index=True)
    # break

df_pre_test_combined = pd.concat([df_pre_test_combined, df_csv_format_pretest], ignore_index=True)
# Remove duplicated rows
df_no_duplicates = df_pre_test_combined.drop_duplicates(keep='first')
print("DataFrame without Duplicates:")

df = df_no_duplicates

# print(all_pretest_count)
print("Total:", len(df_pre_test_combined))
# print(df_pre_test_combined.head(5))

result = df_pre_test_combined.to_csv("./datasets/all_pretest_combined.csv")

data_source/All-Pretest/តេស្តចូលរៀន( ខេត្តព្រះសីហនុ + ប៉ៃលិន)-តេស្ត-grades.xlsx
Dataset shape (794, 88)

data_source/All-Pretest/តេស្តចូលរៀន4-តេស្តចូលរៀន-grades.xlsx
Dataset shape (280, 88)

data_source/All-Pretest/តេស្តចូលរៀន-តេស្តចូលរៀន-grades.xlsx
Dataset shape (711, 88)

data_source/All-Pretest/តេស្តចូលរៀនមន្រ្តីរាជការទូទៅ តេស្តចូលរៀន-grades.xlsx
Dataset shape (792, 88)

DataFrame without Duplicates:
Total: 3195

### Combine All Test

In [5]:
df_test_combined = pd.DataFrame()
all_test_count = 0

for path in excel_data_paths:
    if('All-Pretest' in path or 'questionstats' in path):
        continue
    else:
        print(path)
        df = pd.read_excel(path)
        df = df.head(len(df)-1) # drop the last row
        print("Dataset shape", df.shape)
        all_test_count = all_test_count + df.shape[0]
        print()

        # combine dataset - all_pretest
        df_test_combined = pd.concat([df_test_combined, df], ignore_index=True)

print("Total:", all_test_count)
# print(df_pre_test_combined.head(5))

# df_test_combined = df_test_combined.drop_duplicates(keep='first')
# print("DataFrame without Duplicates:")
# print("Total:", len(df_test_combined))

df_test_combined.to_csv("./datasets/all_test_combined.csv")

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (ខេត្តព្រះវិហា ឧត្តមានជ័យ សៀមរាប-៧)/Exam-PVH-UDM-7-ប្រឡង-grades.xlsx
Dataset shape (199, 108)

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់/DSE-EXAM-ERA5-Senate-វិញ្ញាសាប្រឡង-grades (1).xlsx
Dataset shape (672, 108)

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ខេត្តកែប-កំពត-ព្រះសីហនុ-កោះកុង/grades.xlsx
Dataset shape (279, 108)

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (Senate-City Hall & Moeys)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់(2022)-ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់-grades.xlsx
Dataset shape (174, 108)

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ខេត្តបន្ទាយមានជ័យ -​ ខេត្តបាត់ដំបង -ពោធិ៍សាត់ -កំពង់ឆ្នាំង-ប៉ៃលិន (DSE-09)/grades (1).xlsx
Dataset shape (345, 108)

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ នៃក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-8/ប្រឡងវិញ្ញាបនបត្រក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-ប្រឡងវិញ្ញាបនបត្រ DSE (ក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-8)-grades.xlsx
Dataset shape (230, 108)

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (CADT)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (CADT-1)-Exam-grades.xlsx
Dataset shape (169, 108)

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (ខេត្ត-6)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់(2022)-ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់-grades.xlsx
Dataset shape (174, 108)

Total: 2242

# Test on Dataset

## Function to display dataset information - PASSING SCORE 60

In [6]:
def dataset_information(path):
    df = pd.read_excel(path)
    print(df)

    # Replace - with None
    columns = df.columns
    for col in columns:
        df[col] = df[col].replace(['-'], float(0))

    df['Grade/100.00'] = df['Grade/100.00'].astype('float64')

    df.loc[df['Grade/100.00'] >= float(60), 'label'] = 'Passed'
    df.loc[df['Grade/100.00'] < float(60), 'label'] = 'Failed'

    num_failed = len(df[df['label'] == 'Failed'])
    num_passed = len(df[df['label'] == 'Passed'])

    num_of_examinee = len(df)
    num_finished_examinee = len(df[df['State'] == "Finished"])
    num_in_progress_examinee = len(df[df['State'] != "Finished"])
    num_failed = len(df[df['label'] == 'Failed'])
    num_passed = len(df[df['label'] == 'Passed'])

    

    print("Total Examinee:", num_of_examinee)
    print("Total Finished Examinee:", num_finished_examinee)
    print("Total Examinee in Progress:", num_in_progress_examinee)
    print("Number of Passed Examinee:", num_passed, " | Passing rate:", num_passed / (num_passed+num_failed))
    print("Number of Failed Examinee:", num_failed, " | Failing rate:", num_failed / (num_passed+num_failed))
    
    passed_df = df[df['label'] == 'Passed']
    print("Average Score of Passed Examinee: ", passed_df['Grade/100.00'].mean())
    failed_df = df[df['label'] == 'Failed']
    print("Average Score of Failed Examinee: ", failed_df['Grade/100.00'].mean())

In [7]:
# for path in excel_data_paths:
#     if('All-Pretest' in path or 'questionstats' in path):
#         continue
#     else:
#         print(path)
#         dataset_information(path)
    
#     print()

#### 1. ខេត្តព្រះវិហារ ឧត្តរមានជ័យ សៀមរាប

In [8]:
dataset_information('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (ខេត្តព្រះវិហា ឧត្តមានជ័យ សៀមរាប-៧)/Exam-PVH-UDM-7-ប្រឡង-grades.xlsx')

             Surname First name               Email address     State  \
0                ហ៊ន        គឹម  dp230109@DSEPROVINCE23.com  Finished
1         ពេជ្រពន្លឺ        ជុំ  dp230126@DSEPROVINCE23.com  Finished
2            កន្និកា         ងី  dp230112@DSEPROVINCE23.com  Finished
3            សុវណ្ណៈ        ឆាយ  dp230119@DSEPROVINCE23.com  Finished
4              កញ្ញា        គង់  dp230107@DSEPROVINCE23.com  Finished
..               ...        ...                         ...       ...
195            សោភ័ណ       អ៊ាន  dp230488@DSEPROVINCE23.com  Finished
196              បុង        សួង  dp230469@DSEPROVINCE23.com  Finished
197             វិភា         វន  dp230448@DSEPROVINCE23.com  Finished
198            សំកុល      ហ៊ុល​  dp230482@DSEPROVINCE23.com  Finished
199  Overall average        NaN                         NaN       NaN

                   Started on                  Completed       Time taken  \
0    12 January 2023  8:25 AM  12 January 2023  10:20 AM   1 hour 55 mins
1    12 January 2023  8:25 AM  12 January 2023  10:25 AM          2 hours
2    12 January 2023  8:25 AM   12 January 2023  9:42 AM   1 hour 16 mins
3    12 January 2023  8:25 AM  12 January 2023  10:20 AM   1 hour 55 mins
4    12 January 2023  8:25 AM   12 January 2023  9:58 AM   1 hour 32 mins
..                        ...                        ...              ...
195  19 January 2023  3:22 PM   19 January 2023  4:18 PM  55 mins 51 secs
196  19 January 2023  3:23 PM   19 January 2023  5:18 PM   1 hour 54 mins
197  19 January 2023  3:25 PM   19 January 2023  5:08 PM   1 hour 43 mins
198  19 January 2023  3:36 PM   19 January 2023  5:00 PM   1 hour 24 mins
199                       NaN                        NaN              NaN

     Grade/100.00  Q. 1 /1.00 Q. 2 /1.00  ... Q. 91 /1.00 Q. 92 /1.00  \
0           59.48         1.0       0.00  ...        0.17        0.67
1           45.73         1.0       0.00  ...           -        0.50
2           55.73         0.0       0.00  ...        1.00        0.00
3           55.82         1.0       1.00  ...        1.00        0.67
4           61.13         0.0       0.00  ...        1.00        1.00
..            ...         ...        ...  ...         ...         ...
195         42.85         0.0       1.00  ...        1.00        0.00
196         43.43         1.0          -  ...        0.75        0.33
197         58.60         1.0       1.00  ...        0.67        1.00
198         56.58         1.0       0.00  ...        1.00        1.00
199         53.11         0.6       0.55  ...        0.43        0.50

    Q. 93 /1.00 Q. 94 /1.00 Q. 95 /1.00 Q. 96 /1.00 Q. 97 /1.00 Q. 98 /1.00  \
0          0.00        1.00        1.00        0.00        1.00        0.00
1          0.00           -           -           -           -           -
2          1.00        1.00        0.67        1.00        1.00        1.00
3          0.00        0.00        1.00        1.00        1.00        0.00
4          1.00        1.00        0.00        0.00        1.00        1.00
..          ...         ...         ...         ...         ...         ...
195        1.00        0.00        0.00        0.00        0.00        0.00
196        0.00        0.00        0.00        1.00        1.00        0.50
197        1.00        0.00        0.17        1.00        1.00        0.50
198        1.00        0.00        0.00        1.00        0.00        0.00
199        0.37        0.35        0.35        0.43        0.44        0.46

    Q. 99 /1.00  Q. 100 /1.00
0          1.00          0.00
1             -             -
2          0.00          1.00
3          0.00          0.00
4          1.00          0.00
..          ...           ...
195        1.00          1.00
196        0.00          1.00
197        0.00          1.00
198        0.00          0.00
199        0.43          0.36

[200 rows x 108 columns]
Total Examinee: 200
Total Finished Examinee: 199
Total Examinee in Progress: 1
Number of Passed Examinee: 58  | Passing rate: 0.29
Number of Failed Examinee: 142  | Failing rate: 0.71
Average Score of Passed Examinee:  68.10310344827586
Average Score of Failed Examinee:  46.98387323943661

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/2058015647.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(60), 'label'] = 'Passed'

#### 2. ភូមិន្ធរដ្ឋបាល

In [9]:
dataset_information('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់/DSE-EXAM-ERA5-Senate-វិញ្ញាសាប្រឡង-grades (1).xlsx')

             Surname First name              Email address     State  \
0     វង្សច័ន្ទភូមាន        គៀត       D220131@DSEERA22.com  Finished
1               វីរះ        ឃឹម       D220119@DSEERA22.com  Finished
2          សុផារ៉ាត់        កែម       D220135@DSEERA22.com  Finished
3              សុគន់        គេច       D220116@DSEERA22.com  Finished
4          សេរីរិទ្ធ        កុល       D220120@DSEERA22.com  Finished
..               ...        ...                        ...       ...
668             សូដា        សែម  dp23457@DSEPROVINCE23.com  Finished
669          បូរ៉ាណេ        ហេង  dp23462@DSEPROVINCE23.com  Finished
670            សារិត       ស្រី  dp23459@DSEPROVINCE23.com  Finished
671         វ៉ាន់ដែន         សៅ  dp23458@DSEPROVINCE23.com  Finished
672  Overall average        NaN                        NaN       NaN

                    Started on                   Completed      Time taken  \
0    23 December 2022  8:14 AM   23 December 2022  9:52 AM  1 hour 37 mins
1    23 December 2022  8:14 AM  23 December 2022  10:14 AM         2 hours
2    23 December 2022  8:14 AM  23 December 2022  10:02 AM  1 hour 47 mins
3    23 December 2022  8:15 AM  23 December 2022  10:15 AM         2 hours
4    23 December 2022  8:15 AM   23 December 2022  9:56 AM  1 hour 40 mins
..                         ...                         ...             ...
668     3 August 2023  1:56 PM      3 August 2023  3:10 PM  1 hour 13 mins
669     3 August 2023  1:57 PM      3 August 2023  3:55 PM  1 hour 58 mins
670     3 August 2023  1:57 PM      3 August 2023  3:57 PM         2 hours
671     3 August 2023  1:57 PM      3 August 2023  3:57 PM         2 hours
672                        NaN                         NaN             NaN

    Grade/100.00 Q. 1 /1.00 Q. 2 /1.00  ... Q. 91 /1.00 Q. 92 /1.00  \
0          58.13       1.00       1.00  ...        0.00        0.00
1          69.38       1.00       1.00  ...        1.00        1.00
2          54.31       0.00       0.00  ...        0.00        0.50
3          51.46       0.00       1.00  ...           -           -
4          55.92       0.00       1.00  ...        1.00        0.67
..           ...        ...        ...  ...         ...         ...
668        36.68       0.00       1.00  ...        0.00        1.00
669        73.75       1.00       0.00  ...        0.50        0.00
670        27.67       1.00       0.00  ...           -           -
671        51.30       1.00       0.00  ...        1.00        1.00
672        58.22       0.59       0.58  ...        0.56        0.58

    Q. 93 /1.00 Q. 94 /1.00 Q. 95 /1.00 Q. 96 /1.00 Q. 97 /1.00 Q. 98 /1.00  \
0          0.00        1.00        0.00        0.00        1.00        0.00
1          0.00        1.00        1.00        0.17        0.00        0.00
2          1.00        0.17        0.00        0.00        0.00        1.00
3             -           -           -           -           -           -
4          1.00        0.00        1.00        0.00        1.00        0.00
..          ...         ...         ...         ...         ...         ...
668        0.17        0.00        0.00        0.17        1.00        0.00
669        0.00        0.00        1.00        1.00        0.00        1.00
670           -           -           -           -           -           -
671        1.00        0.00        1.00        1.00        0.00        1.00
672        0.47        0.46        0.46        0.50        0.51        0.49

    Q. 99 /1.00 Q. 100 /1.00
0          0.00         0.00
1          1.00         1.00
2          0.17         0.00
3             -            -
4          1.00         0.00
..          ...          ...
668        1.00         0.33
669        1.00         0.00
670           -            -
671           -            -
672        0.52         0.46

[673 rows x 108 columns]
Total Examinee: 673
Total Finished Examinee: 670
Total Examinee in Progress: 3
Number of Passed Examinee: 303  | Passing rate: 0.45022288261515603
Number of Failed Examinee: 370  | Failing rate: 0.549777117384844
Average Score of Passed Examinee:  71.74980198019801
Average Score of Failed Examinee:  46.82027027027027

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/2058015647.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(60), 'label'] = 'Passed'

#### 3. កែប កំពត ព្រះសីហនុ កោះកុង

In [10]:
dataset_information('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ខេត្តកែប-កំពត-ព្រះសីហនុ-កោះកុង/grades.xlsx')

             Surname First name               Email address     State  \
0              គន្ធី        អោក  dp231623@DSEPROVINCE23.com  Finished
1              ណារ៉ា       គ្រី  dp231556@DSEPROVINCE23.com  Finished
2             ចាន់ថន        ឃឹម  dp231598@DSEPROVINCE23.com  Finished
3          រ័ត្នលីដា         ឃី  dp231599@DSEPROVINCE23.com  Finished
4           សម្បត្តិ         ជា  dp231558@DSEPROVINCE23.com  Finished
..               ...        ...                         ...       ...
275           ស៊ីងួន        ហួយ  dp231914@DSEPROVINCE23.com  Finished
276          ស៊ាងហុង        ហេង  dp231918@DSEPROVINCE23.com  Finished
277          សាដែត្យ        សួន  dp231901@DSEPROVINCE23.com  Finished
278        វណ្ណទិត្យ        វ៉ា  dp231888@DSEPROVINCE23.com  Finished
279  Overall average        NaN                         NaN       NaN

                  Started on                Completed      Time taken  \
0     14 March 2023  1:26 PM   14 March 2023  3:26 PM         2 hours
1     15 March 2023  9:33 AM  15 March 2023  11:25 AM  1 hour 51 mins
2     15 March 2023  9:34 AM  15 March 2023  11:29 AM  1 hour 55 mins
3     15 March 2023  9:35 AM  15 March 2023  11:33 AM  1 hour 58 mins
4     15 March 2023  9:35 AM  15 March 2023  11:32 AM  1 hour 56 mins
..                       ...                      ...             ...
275  24 March 2023  10:31 AM  24 March 2023  12:31 PM         2 hours
276  24 March 2023  10:31 AM  24 March 2023  12:21 PM  1 hour 49 mins
277  24 March 2023  10:32 AM  24 March 2023  12:32 PM         2 hours
278  24 March 2023  10:32 AM  24 March 2023  12:14 PM  1 hour 41 mins
279                      NaN                      NaN             NaN

     Grade/100.00 Q. 1 /1.00 Q. 2 /1.00  ... Q. 91 /1.00 Q. 92 /1.00  \
0           69.93       1.00       1.00  ...        1.00        0.67
1           28.08          -          -  ...        0.00        0.50
2           41.92       0.00       1.00  ...        0.25        0.00
3           64.12       1.00       1.00  ...        1.00        0.00
4           52.87       1.00       0.00  ...        0.67        0.00
..            ...        ...        ...  ...         ...         ...
275         20.90       1.00       1.00  ...           -           -
276         53.18       0.00       1.00  ...        0.33        0.00
277         43.47       1.00       0.00  ...        0.00        0.00
278         37.95       1.00       1.00  ...        0.33        0.00
279         52.06       0.57       0.51  ...        0.38        0.48

    Q. 93 /1.00 Q. 94 /1.00 Q. 95 /1.00 Q. 96 /1.00 Q. 97 /1.00 Q. 98 /1.00  \
0          0.00        1.00        1.00        1.00        0.00        0.00
1          0.00        0.33        0.00        0.00           -        0.00
2          0.00        1.00        0.00        0.00        0.00        1.00
3          1.00        1.00        0.00        1.00        1.00        0.00
4          1.00        0.00        0.00        0.00        0.00        0.00
..          ...         ...         ...         ...         ...         ...
275           -           -           -           -           -           -
276        0.50        1.00        0.00        0.00        0.00        0.00
277        0.67        0.00        1.00        0.00        0.00        0.00
278        0.00        0.00        0.00        0.00        0.33        0.00
279        0.38        0.37        0.35        0.44        0.48        0.38

    Q. 99 /1.00 Q. 100 /1.00
0          0.00         1.00
1          0.00         0.00
2          0.00         0.00
3          0.67         0.00
4          0.00         1.00
..          ...          ...
275           -            -
276        1.00         1.00
277        1.00         1.00
278        0.00         0.00
279        0.46         0.40

[280 rows x 108 columns]
Total Examinee: 280
Total Finished Examinee: 279
Total Examinee in Progress: 1
Number of Passed Examinee: 85  | Passing rate: 0.30357142857142855
Number of Failed Examinee: 195  | Failing rate: 0.6964285714285714
Average Score of Passed Examinee:  68.32011764705882
Average Score of Failed Examinee:  44.976871794871805

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/2058015647.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(60), 'label'] = 'Passed'

#### 4. ព្រឹទ្ធសភា សាលាក្រុង ក្រសួងអប់រំ

In [11]:
dataset_information('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (Senate-City Hall & Moeys)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់(2022)-ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់-grades.xlsx')

             Surname First name               Email address     State  \
0       ប៊ុណ្ណារិទ្ធ        កែវ       012833495@D220041.com  Finished
1         បុណ្យរិទ្ធ        កែវ       098338092@D220077.com  Finished
2            វណ្ណថេន        គង់       011501701@D220095.com  Finished
3               ឌីណា        ទឿង      0766390000@D220042.com  Finished
4               សីហា        ផុន   076​212​01​22@D220057.com  Finished
..               ...        ...                         ...       ...
170             កុសល       អ៊ិន  dp233069@DSEPROVINCE23.com  Finished
171       សុផាន់ណារី       អ៊ុក  dp233068@DSEPROVINCE23.com  Finished
172            ស៊ីវី       ស៊ឹម  dp233048@DSEPROVINCE23.com  Finished
173          សុភ័ក្ដ        លន់  dp233043@DSEPROVINCE23.com  Finished
174  Overall average        NaN                         NaN       NaN

                   Started on                 Completed      Time taken  \
0    13 October 2022  8:10 AM  13 October 2022  9:58 AM  1 hour 47 mins
1    13 October 2022  8:10 AM  13 October 2022  9:43 AM  1 hour 32 mins
2    13 October 2022  8:11 AM  13 October 2022  9:48 AM  1 hour 36 mins
3    13 October 2022  8:12 AM  13 October 2022  9:33 AM  1 hour 21 mins
4    13 October 2022  8:12 AM  13 October 2022  9:50 AM  1 hour 38 mins
..                        ...                       ...             ...
170    28 March 2023  9:00 AM   28 March 2023  10:42 AM  1 hour 41 mins
171    28 March 2023  9:02 AM   28 March 2023  10:49 AM  1 hour 47 mins
172    28 March 2023  9:02 AM   28 March 2023  11:02 AM         2 hours
173    28 March 2023  9:11 AM   28 March 2023  11:08 AM  1 hour 56 mins
174                       NaN                       NaN             NaN

     Grade/100.00  Q. 1 /1.00  Q. 2 /1.00  ...  Q. 91 /1.00 Q. 92 /1.00  \
0           59.13        1.00        1.00  ...         1.00        1.00
1           58.33        1.00        0.00  ...         0.00        1.00
2           63.22        0.00        0.00  ...         1.00        1.00
3           55.85        0.00        0.00  ...         0.00        0.67
4           57.33        1.00        1.00  ...         0.00        0.00
..            ...         ...         ...  ...          ...         ...
170         39.47        1.00        0.00  ...         1.00        0.67
171         51.95        0.00        0.00  ...         0.33        0.50
172         43.18        1.00        0.00  ...         1.00        1.00
173         46.38        0.00        1.00  ...         1.00        1.00
174         51.47        0.57        0.47  ...         0.52        0.48

    Q. 93 /1.00 Q. 94 /1.00 Q. 95 /1.00  Q. 96 /1.00  Q. 97 /1.00 Q. 98 /1.00  \
0          1.00        1.00        0.00         1.00         1.00        1.00
1          0.00        1.00        0.17         0.17         0.17        1.00
2          0.00        1.00        0.00         0.00         1.00        1.00
3          0.00        0.33        1.00         0.00         0.00        0.00
4          0.00        0.33        0.00         1.00         1.00        1.00
..          ...         ...         ...          ...          ...         ...
170        0.00        0.00        0.00         0.33         1.00        0.00
171        1.00        1.00        1.00         0.00         0.00        1.00
172        0.00        1.00        1.00         0.00         0.00        1.00
173        0.00        0.33        0.00         0.50         1.00        1.00
174        0.43        0.48        0.31         0.40         0.42        0.44

     Q. 99 /1.00  Q. 100 /1.00
0           0.00          0.00
1           1.00          1.00
2           1.00          0.00
3           0.00          0.00
4           0.00          0.00
..           ...           ...
170         1.00          1.00
171         1.00          0.00
172         0.00          1.00
173         0.00          0.00
174         0.46          0.41

[175 rows x 108 columns]
Total Examinee: 175
Total Finished Examinee: 174
Total Examinee in Progress: 1
Number of Passed Examinee: 46  | Passing rate: 0.26285714285714284
Number of Failed Examinee: 129  | Failing rate: 0.7371428571428571
Average Score of Passed Examinee:  66.71130434782609
Average Score of Failed Examinee:  46.03891472868217

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/2058015647.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(60), 'label'] = 'Passed'

#### 5. បន្ទាយមានជ័យ បាត់ដំបង ពោធិ៍សាត់ កំពង់ឆ្នាំង ប៉ៃលិន

In [12]:
dataset_information('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ខេត្តបន្ទាយមានជ័យ -​ ខេត្តបាត់ដំបង -ពោធិ៍សាត់ -កំពង់ឆ្នាំង-ប៉ៃលិន (DSE-09)/grades (1).xlsx')

             Surname First name               Email address     State  \
0            កញ្ញាកា       កាក់  dp230803@DSEPROVINCE23.com  Finished
1             គឹមអេង         ថោ  dp230832@DSEPROVINCE23.com  Finished
2        បូរិទ្ធីយ៉ា      ច្រឹង  dp230821@DSEPROVINCE23.com  Finished
3          កែវមុន្នី       ង៉ែត  dp230817@DSEPROVINCE23.com  Finished
4               ប៉ុច        ឈឹម  dp230825@DSEPROVINCE23.com  Finished
..               ...        ...                         ...       ...
341               ធី        រុន  dp232006@DSEPROVINCE23.com  Finished
342       រត្ន័វិសាល        ឈួយ  dp232010@DSEPROVINCE23.com  Finished
343            ឡោស៊ី         ខា  dp232005@DSEPROVINCE23.com  Finished
344   ភូមិរិន្ទបូពា៌        យឹម  dp232009@DSEPROVINCE23.com  Finished
345  Overall average        NaN                         NaN       NaN

                    Started on                   Completed      Time taken  \
0    15 February 2023  8:59 AM  15 February 2023  10:36 AM  1 hour 36 mins
1    15 February 2023  9:00 AM  15 February 2023  10:26 AM  1 hour 25 mins
2    15 February 2023  9:00 AM  15 February 2023  10:59 AM  1 hour 59 mins
3    15 February 2023  9:00 AM  15 February 2023  10:45 AM  1 hour 45 mins
4    15 February 2023  9:00 AM  15 February 2023  10:54 AM  1 hour 54 mins
..                         ...                         ...             ...
341     11 April 2023  9:12 AM     11 April 2023  11:09 AM  1 hour 56 mins
342     11 April 2023  9:13 AM     11 April 2023  10:40 AM  1 hour 26 mins
343     11 April 2023  9:40 AM     11 April 2023  11:21 AM  1 hour 40 mins
344     11 April 2023  9:41 AM     11 April 2023  11:41 AM         2 hours
345                        NaN                         NaN             NaN

     Grade/100.00 Q. 1 /1.00 Q. 2 /1.00  ... Q. 91 /1.00 Q. 92 /1.00  \
0           49.43       1.00       1.00  ...        1.00        0.50
1           36.83       0.00       0.00  ...        0.00        1.00
2           65.33       1.00       1.00  ...        0.33        0.67
3           48.58       1.00       1.00  ...        1.00        0.00
4           53.17       0.00       0.00  ...        0.00        1.00
..            ...        ...        ...  ...         ...         ...
341         59.13       0.00       1.00  ...        0.00        1.00
342         65.38       1.00       0.00  ...        0.00        0.00
343         35.47       0.00       0.00  ...        0.00        0.00
344         27.27       0.00       0.00  ...        0.33        0.00
345         51.13       0.54       0.53  ...        0.44        0.49

    Q. 93 /1.00 Q. 94 /1.00 Q. 95 /1.00 Q. 96 /1.00 Q. 97 /1.00 Q. 98 /1.00  \
0          0.00        0.00        0.00        1.00        1.00        0.00
1          0.00        1.00        1.00        1.00        1.00        1.00
2          1.00        0.17        0.00        1.00        0.00        0.00
3          0.00        1.00        0.00        0.00        0.00        0.00
4          0.00        0.00        0.33        0.00        0.00        0.00
..          ...         ...         ...         ...         ...         ...
341        1.00        0.00        0.00        0.00        1.00        0.00
342        0.00        0.00        0.00        0.00        0.00        0.00
343        0.67        1.00        0.00        0.00        1.00        0.00
344        0.00           -           -           -           -           -
345        0.34        0.30        0.36        0.43        0.43        0.47

    Q. 99 /1.00 Q. 100 /1.00
0          0.00         0.00
1          1.00         0.33
2          0.00         0.00
3          1.00         1.00
4          0.17         0.17
..          ...          ...
341        0.00         1.00
342        1.00         1.00
343        0.00         0.00
344           -            -
345        0.43         0.44

[346 rows x 108 columns]
Total Examinee: 346
Total Finished Examinee: 345
Total Examinee in Progress: 1
Number of Passed Examinee: 86  | Passing rate: 0.24855491329479767
Number of Failed Examinee: 260  | Failing rate: 0.7514450867052023
Average Score of Passed Examinee:  68.73767441860464
Average Score of Failed Examinee:  45.301153846153845

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/2058015647.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(60), 'label'] = 'Passed'

#### 6. ក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍

In [13]:
dataset_information('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ នៃក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-8/ប្រឡងវិញ្ញាបនបត្រក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-ប្រឡងវិញ្ញាបនបត្រ DSE (ក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-8)-grades.xlsx')

             Surname First name         Email address     State  \
0              ដារ៉ា     កានីកា  dp230495@DSEMPTC.com  Finished
1        ណារីម៉ូនីកា         ជា  dp230520@DSEMPTC.com  Finished
2             ដានីន​       គង់​  dp230499@DSEMPTC.com  Finished
3            ស្រីនេត        គួយ  dp230503@DSEMPTC.com  Finished
4               ធីតា         សៅ  dp230665@DSEMPTC.com  Finished
..               ...        ...                   ...       ...
226            រ័ត្ន         ជា  dp230524@DSEMPTC.com  Finished
227        ស្រីពេជ្រ       អ៊ុន  dp230722@DSEMPTC.com  Finished
228       អង្គារ​តនៈ      អ៊ុក​  dp230708@DSEMPTC.com  Finished
229          ស៊ុងហេង         ហៃ  dp230729@DSEMPTC.com  Finished
230  Overall average        NaN                   NaN       NaN

                   Started on                  Completed      Time taken  \
0    25 January 2023  8:55 AM  25 January 2023  10:50 AM  1 hour 55 mins
1    25 January 2023  8:55 AM  25 January 2023  10:35 AM  1 hour 40 mins
2    25 January 2023  8:55 AM  25 January 2023  10:55 AM  1 hour 59 mins
3    25 January 2023  8:55 AM  25 January 2023  10:55 AM         2 hours
4    25 January 2023  8:56 AM  25 January 2023  10:56 AM         2 hours
..                        ...                        ...             ...
226  26 January 2023  3:17 PM   26 January 2023  5:14 PM  1 hour 57 mins
227  26 January 2023  3:18 PM   26 January 2023  4:47 PM  1 hour 29 mins
228  26 January 2023  3:18 PM   26 January 2023  5:05 PM  1 hour 46 mins
229  26 January 2023  3:20 PM   26 January 2023  5:13 PM  1 hour 52 mins
230                       NaN                        NaN             NaN

     Grade/100.00  Q. 1 /1.00 Q. 2 /1.00  ... Q. 91 /1.00  Q. 92 /1.00  \
0           82.10        1.00       1.00  ...        0.00         1.00
1           53.48        0.00       0.00  ...        0.00         1.00
2           58.10        1.00       1.00  ...        1.00         0.00
3           47.47        1.00       1.00  ...           -            -
4           55.09        0.00       1.00  ...        1.00         0.00
..            ...         ...        ...  ...         ...          ...
226         58.80        0.00       1.00  ...        0.25         0.33
227         55.38        0.00       1.00  ...        0.00         0.17
228         72.20        1.00       1.00  ...        0.67         0.00
229         70.84        1.00       1.00  ...        1.00         1.00
230         61.05        0.62       0.65  ...        0.64         0.55

    Q. 93 /1.00 Q. 94 /1.00  Q. 95 /1.00 Q. 96 /1.00 Q. 97 /1.00  Q. 98 /1.00  \
0          0.00        0.00         0.17        1.00        1.00         1.00
1          1.00        0.00         0.00        0.00        1.00         1.00
2          1.00        0.00         0.00        0.00        1.00         0.00
3             -           -            -           -           -            -
4          0.00        1.00         0.00        0.00        0.00         0.00
..          ...         ...          ...         ...         ...          ...
226        0.00        1.00         1.00        0.00        1.00         0.00
227        0.00        0.00         0.17        0.00        0.00         1.00
228        1.00        1.00         1.00        0.00        0.00         1.00
229        0.00        1.00         0.00        0.00        0.00         0.00
230        0.51        0.54         0.45        0.47        0.54         0.49

     Q. 99 /1.00  Q. 100 /1.00
0           0.00          0.50
1           0.00          0.00
2           0.00          1.00
3              -             -
4           1.00          1.00
..           ...           ...
226         0.00          1.00
227         1.00          1.00
228         1.00          0.00
229         0.17          1.00
230         0.51          0.52

[231 rows x 108 columns]
Total Examinee: 231
Total Finished Examinee: 230
Total Examinee in Progress: 1
Number of Passed Examinee: 118  | Passing rate: 0.5108225108225108
Number of Failed Examinee: 113  | Failing rate: 0.48917748917748916
Average Score of Passed Examinee:  72.66322033898305
Average Score of Failed Examinee:  48.93194690265487

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/2058015647.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(60), 'label'] = 'Passed'

#### 7. បណ្ឌិត្យសភាបច្ចេកវិទ្យាឌីជីថលកម្ពុជា

In [14]:
dataset_information('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (CADT)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (CADT-1)-Exam-grades.xlsx')

             Surname First name                    Email address     State  \
0        Chanraksmey       PHAN  chanraksmey.phan@niptict.edu.kh  Finished
1           វ៉ាន់ជេប        អ៊ួ          ourvantheb010@gmail.com  Finished
2              VANNA        SUY         vanna.suy@niptict.edu.kh  Finished
3               Daro       Phan            daro.phan@cadt.edu.kh  Finished
4            Layheng      Couch     layheng.couch@niptict.edu.kh  Finished
..               ...        ...                              ...       ...
165           ម៉នសុី         សៃ        dp23531cadt2023@gmail.com  Finished
166             នីតា       ញ៉ាណ        dp23540cadt2023@gmail.com  Finished
167     ចាន់មុនីរតន៍        វុធ        dp23549cadt2023@gmail.com  Finished
168     សុគន្ធារដ្ឋា         ហេ        dp23550cadt2023@gmail.com  Finished
169  Overall average        NaN                              NaN       NaN

                    Started on                  Completed       Time taken  \
0    15 February 2022  3:01 PM  15 February 2022  5:01 PM          2 hours
1    15 February 2022  3:01 PM  15 February 2022  4:22 PM   1 hour 20 mins
2    15 February 2022  3:01 PM  15 February 2022  4:56 PM   1 hour 55 mins
3    15 February 2022  3:02 PM  15 February 2022  4:01 PM  59 mins 25 secs
4    15 February 2022  3:02 PM  15 February 2022  4:35 PM   1 hour 33 mins
..                         ...                        ...              ...
165     8 August 2023  1:08 PM     8 August 2023  2:51 PM   1 hour 42 mins
166     8 August 2023  1:16 PM     8 August 2023  3:14 PM   1 hour 58 mins
167     8 August 2023  1:28 PM     8 August 2023  3:28 PM   1 hour 59 mins
168     8 August 2023  1:31 PM     8 August 2023  3:31 PM          2 hours
169                        NaN                        NaN              NaN

     Grade/100.00 Q. 1 /1.00 Q. 2 /1.00  ...  Q. 91 /1.00 Q. 92 /1.00  \
0           77.15       1.00       1.00  ...         1.00        1.00
1           78.42       1.00       0.00  ...         1.00        1.00
2           77.52       1.00       1.00  ...         0.67        1.00
3           88.67       1.00       1.00  ...         1.00        1.00
4           70.72       1.00       0.00  ...         1.00        1.00
..            ...        ...        ...  ...          ...         ...
165         40.78       1.00       0.00  ...         0.00        0.00
166         53.55       1.00       0.00  ...         0.17        1.00
167         32.25       0.00       0.00  ...            -           -
168         56.93       1.00       1.00  ...            -           -
169         62.25       0.64       0.65  ...         0.59        0.59

    Q. 93 /1.00 Q. 94 /1.00 Q. 95 /1.00 Q. 96 /1.00 Q. 97 /1.00 Q. 98 /1.00  \
0          1.00           -        1.00        0.00        1.00        1.00
1          0.00        1.00        1.00        1.00        1.00        1.00
2          1.00        1.00        1.00        0.17        0.00        1.00
3          1.00        1.00        1.00        0.00        1.00        1.00
4          1.00        0.17        0.00        0.00        1.00        1.00
..          ...         ...         ...         ...         ...         ...
165        0.00        1.00        0.00        1.00        1.00        0.00
166        1.00        1.00        1.00        0.67        0.00        1.00
167        0.00        0.00           -        1.00        0.00        0.00
168        1.00        0.00        0.00        0.00        1.00        0.00
169        0.46        0.46        0.47        0.48        0.49        0.46

    Q. 99 /1.00 Q. 100 /1.00
0          1.00         0.00
1          1.00         1.00
2          1.00         0.00
3          1.00         1.00
4          1.00         1.00
..          ...          ...
165        0.00         1.00
166        1.00         0.00
167           -         0.00
168        1.00         0.00
169        0.58         0.52

[170 rows x 108 columns]
Total Examinee: 170
Total Finished Examinee: 169
Total Examinee in Progress: 1
Number of Passed Examinee: 106  | Passing rate: 0.6235294117647059
Number of Failed Examinee: 64  | Failing rate: 0.3764705882352941
Average Score of Passed Examinee:  72.77707547169811
Average Score of Failed Examinee:  44.825

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/2058015647.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(60), 'label'] = 'Passed'

#### 8. ៦ខេត្តផ្សេង

In [15]:
dataset_information('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (ខេត្ត-6)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់(2022)-ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់-grades.xlsx')

             Surname First name               Email address     State  \
0       ប៊ុណ្ណារិទ្ធ        កែវ       012833495@D220041.com  Finished
1         បុណ្យរិទ្ធ        កែវ       098338092@D220077.com  Finished
2            វណ្ណថេន        គង់       011501701@D220095.com  Finished
3               ឌីណា        ទឿង      0766390000@D220042.com  Finished
4               សីហា        ផុន   076​212​01​22@D220057.com  Finished
..               ...        ...                         ...       ...
170             កុសល       អ៊ិន  dp233069@DSEPROVINCE23.com  Finished
171       សុផាន់ណារី       អ៊ុក  dp233068@DSEPROVINCE23.com  Finished
172            ស៊ីវី       ស៊ឹម  dp233048@DSEPROVINCE23.com  Finished
173          សុភ័ក្ដ        លន់  dp233043@DSEPROVINCE23.com  Finished
174  Overall average        NaN                         NaN       NaN

                   Started on                 Completed      Time taken  \
0    13 October 2022  8:10 AM  13 October 2022  9:58 AM  1 hour 47 mins
1    13 October 2022  8:10 AM  13 October 2022  9:43 AM  1 hour 32 mins
2    13 October 2022  8:11 AM  13 October 2022  9:48 AM  1 hour 36 mins
3    13 October 2022  8:12 AM  13 October 2022  9:33 AM  1 hour 21 mins
4    13 October 2022  8:12 AM  13 October 2022  9:50 AM  1 hour 38 mins
..                        ...                       ...             ...
170    28 March 2023  9:00 AM   28 March 2023  10:42 AM  1 hour 41 mins
171    28 March 2023  9:02 AM   28 March 2023  10:49 AM  1 hour 47 mins
172    28 March 2023  9:02 AM   28 March 2023  11:02 AM         2 hours
173    28 March 2023  9:11 AM   28 March 2023  11:08 AM  1 hour 56 mins
174                       NaN                       NaN             NaN

     Grade/100.00  Q. 1 /1.00  Q. 2 /1.00  ...  Q. 91 /1.00 Q. 92 /1.00  \
0           59.13        1.00        1.00  ...         1.00        1.00
1           58.33        1.00        0.00  ...         0.00        1.00
2           63.22        0.00        0.00  ...         1.00        1.00
3           55.85        0.00        0.00  ...         0.00        0.67
4           57.33        1.00        1.00  ...         0.00        0.00
..            ...         ...         ...  ...          ...         ...
170         39.47        1.00        0.00  ...         1.00        0.67
171         51.95        0.00        0.00  ...         0.33        0.50
172         43.18        1.00        0.00  ...         1.00        1.00
173         46.38        0.00        1.00  ...         1.00        1.00
174         51.47        0.57        0.47  ...         0.52        0.48

    Q. 93 /1.00 Q. 94 /1.00 Q. 95 /1.00  Q. 96 /1.00  Q. 97 /1.00 Q. 98 /1.00  \
0          1.00        1.00        0.00         1.00         1.00        1.00
1          0.00        1.00        0.17         0.17         0.17        1.00
2          0.00        1.00        0.00         0.00         1.00        1.00
3          0.00        0.33        1.00         0.00         0.00        0.00
4          0.00        0.33        0.00         1.00         1.00        1.00
..          ...         ...         ...          ...          ...         ...
170        0.00        0.00        0.00         0.33         1.00        0.00
171        1.00        1.00        1.00         0.00         0.00        1.00
172        0.00        1.00        1.00         0.00         0.00        1.00
173        0.00        0.33        0.00         0.50         1.00        1.00
174        0.43        0.48        0.31         0.40         0.42        0.44

     Q. 99 /1.00  Q. 100 /1.00
0           0.00          0.00
1           1.00          1.00
2           1.00          0.00
3           0.00          0.00
4           0.00          0.00
..           ...           ...
170         1.00          1.00
171         1.00          0.00
172         0.00          1.00
173         0.00          0.00
174         0.46          0.41

[175 rows x 108 columns]
Total Examinee: 175
Total Finished Examinee: 174
Total Examinee in Progress: 1
Number of Passed Examinee: 46  | Passing rate: 0.26285714285714284
Number of Failed Examinee: 129  | Failing rate: 0.7371428571428571
Average Score of Passed Examinee:  66.71130434782609
Average Score of Failed Examinee:  46.03891472868217

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/2058015647.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(60), 'label'] = 'Passed'

## Function to display dataset information - PASSING SCORE 50

In [16]:
def dataset_information_50(path):
    print(path)
    df = pd.read_excel(path)

    # Replace - with None
    columns = df.columns
    for col in columns:
        df[col] = df[col].replace(['-'], float(0))

    df['Grade/100.00'] = df['Grade/100.00'].astype('float64')

    df.loc[df['Grade/100.00'] >= float(50), 'label'] = 'Passed'
    df.loc[df['Grade/100.00'] < float(50), 'label'] = 'Failed'

    num_failed = len(df[df['label'] == 'Failed'])
    num_passed = len(df[df['label'] == 'Passed'])

    num_of_examinee = len(df)
    num_finished_examinee = len(df[df['State'] == "Finished"])
    num_in_progress_examinee = len(df[df['State'] != "Finished"])
    num_failed = len(df[df['label'] == 'Failed'])
    num_passed = len(df[df['label'] == 'Passed'])


    print("Total Examinee:", num_of_examinee)
    print("Total Finished Examinee:", num_finished_examinee)
    print("Total Examinee in Progress:", num_in_progress_examinee)
    print("Number of Passed Examinee:", num_passed, " | Passing rate:", num_passed / (num_passed+num_failed))
    print("Number of Failed Examinee:", num_failed, " | Failing rate:", num_failed / (num_passed+num_failed))
    passed_df = df[df['label'] == 'Passed']
    print("Average Score of Passed Examinee: ", passed_df['Grade/100.00'].mean())
    failed_df = df[df['label'] == 'Failed']
    print("Average Score of Failed Examinee: ", failed_df['Grade/100.00'].mean())

    # plt.bar(["Passed", "Failed"], [num_passed, num_failed])

#### 1. ខេត្តព្រះវិហារ ឧត្តរមានជ័យ សៀមរាប

In [17]:
dataset_information_50('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (ខេត្តព្រះវិហា ឧត្តមានជ័យ សៀមរាប-៧)/Exam-PVH-UDM-7-ប្រឡង-grades.xlsx')

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (ខេត្តព្រះវិហា ឧត្តមានជ័យ សៀមរាប-៧)/Exam-PVH-UDM-7-ប្រឡង-grades.xlsx
Total Examinee: 200
Total Finished Examinee: 199
Total Examinee in Progress: 1
Number of Passed Examinee: 123  | Passing rate: 0.615
Number of Failed Examinee: 77  | Failing rate: 0.385
Average Score of Passed Examinee:  61.13747967479675
Average Score of Failed Examinee:  40.28285714285714

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/1653101233.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(50), 'label'] = 'Passed'

#### 2. ភូមិន្ធរដ្ឋបាល

In [18]:
dataset_information_50('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់/DSE-EXAM-ERA5-Senate-វិញ្ញាសាប្រឡង-grades (1).xlsx')

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់/DSE-EXAM-ERA5-Senate-វិញ្ញាសាប្រឡង-grades (1).xlsx
Total Examinee: 673
Total Finished Examinee: 670
Total Examinee in Progress: 3
Number of Passed Examinee: 462  | Passing rate: 0.6864784546805349
Number of Failed Examinee: 211  | Failing rate: 0.3135215453194651
Average Score of Passed Examinee:  65.95233766233765
Average Score of Failed Examinee:  40.72848341232227

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/1653101233.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(50), 'label'] = 'Passed'

#### 3. កែប កំពត ព្រះសីហនុ កោះកុង

In [19]:
dataset_information_50('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ខេត្តកែប-កំពត-ព្រះសីហនុ-កោះកុង/grades.xlsx')

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ខេត្តកែប-កំពត-ព្រះសីហនុ-កោះកុង/grades.xlsx
Total Examinee: 280
Total Finished Examinee: 279
Total Examinee in Progress: 1
Number of Passed Examinee: 153  | Passing rate: 0.5464285714285714
Number of Failed Examinee: 127  | Failing rate: 0.45357142857142857
Average Score of Passed Examinee:  62.44679738562092
Average Score of Failed Examinee:  39.55385826771652

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/1653101233.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(50), 'label'] = 'Passed'

#### 4. ព្រឹទ្ធសភា សាលាក្រុង ក្រសួងអប់រំ

In [20]:
dataset_information_50('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (Senate-City Hall & Moeys)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់(2022)-ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់-grades.xlsx')

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (Senate-City Hall & Moeys)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់(2022)-ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់-grades.xlsx
Total Examinee: 175
Total Finished Examinee: 174
Total Examinee in Progress: 1
Number of Passed Examinee: 101  | Passing rate: 0.5771428571428572
Number of Failed Examinee: 74  | Failing rate: 0.4228571428571429
Average Score of Passed Examinee:  60.234257425742584
Average Score of Failed Examinee:  39.514594594594584

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/1653101233.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(50), 'label'] = 'Passed'

#### 5. បន្ទាយមានជ័យ បាត់ដំបង ពោធិ៍សាត់ កំពង់ឆ្នាំង ប៉ៃលិន

In [21]:
dataset_information_50('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ខេត្តបន្ទាយមានជ័យ -​ ខេត្តបាត់ដំបង -ពោធិ៍សាត់ -កំពង់ឆ្នាំង-ប៉ៃលិន (DSE-09)/grades (1).xlsx')

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ខេត្តបន្ទាយមានជ័យ -​ ខេត្តបាត់ដំបង -ពោធិ៍សាត់ -កំពង់ឆ្នាំង-ប៉ៃលិន (DSE-09)/grades (1).xlsx
Total Examinee: 346
Total Finished Examinee: 345
Total Examinee in Progress: 1
Number of Passed Examinee: 182  | Passing rate: 0.5260115606936416
Number of Failed Examinee: 164  | Failing rate: 0.47398843930635837
Average Score of Passed Examinee:  61.54692307692308
Average Score of Failed Examinee:  39.56219512195121

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/1653101233.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(50), 'label'] = 'Passed'

#### 6. ក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍

In [22]:
dataset_information_50('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ នៃក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-8/ប្រឡងវិញ្ញាបនបត្រក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-ប្រឡងវិញ្ញាបនបត្រ DSE (ក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-8)-grades.xlsx')

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ នៃក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-8/ប្រឡងវិញ្ញាបនបត្រក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-ប្រឡងវិញ្ញាបនបត្រ DSE (ក្រសួងប្រៃសណីយ៍ និងទូរគមនាគមន៍-8)-grades.xlsx
Total Examinee: 231
Total Finished Examinee: 230
Total Examinee in Progress: 1
Number of Passed Examinee: 183  | Passing rate: 0.7922077922077922
Number of Failed Examinee: 48  | Failing rate: 0.2077922077922078
Average Score of Passed Examinee:  66.40540983606557
Average Score of Failed Examinee:  40.65375

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/1653101233.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(50), 'label'] = 'Passed'

#### 7. បណ្ឌិត្យសភាបច្ចេកវិទ្យាឌីជីថលកម្ពុជា

In [23]:
dataset_information_50('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (CADT)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (CADT-1)-Exam-grades.xlsx')

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (CADT)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (CADT-1)-Exam-grades.xlsx
Total Examinee: 170
Total Finished Examinee: 169
Total Examinee in Progress: 1
Number of Passed Examinee: 136  | Passing rate: 0.8
Number of Failed Examinee: 34  | Failing rate: 0.2
Average Score of Passed Examinee:  68.91323529411765
Average Score of Failed Examinee:  35.61676470588235

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/1653101233.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(50), 'label'] = 'Passed'

#### 8. ៦ខេត្តផ្សេង

In [24]:
dataset_information_50('data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (ខេត្ត-6)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់(2022)-ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់-grades.xlsx')

data_source/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់ (ខេត្ត-6)/ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់(2022)-ប្រឡងវិញ្ញាបនបត្រជំនាញឌីជីថលចាំបាច់-grades.xlsx
Total Examinee: 175
Total Finished Examinee: 174
Total Examinee in Progress: 1
Number of Passed Examinee: 101  | Passing rate: 0.5771428571428572
Number of Failed Examinee: 74  | Failing rate: 0.4228571428571429
Average Score of Passed Examinee:  60.234257425742584
Average Score of Failed Examinee:  39.514594594594584

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_8276/1653101233.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df['Grade/100.00'] >= float(50), 'label'] = 'Passed'